# =========================
# ENV / SECRETS
# =========================
*.env
.gemini_api_key

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# VIRTUAL ENV
# =========================
venv/
ml_venv/
env/

# =========================
# DJANGO
# =========================
*.log
staticfiles/
media/

# =========================
# DATABASE
# =========================
db.sqlite3

# =========================
# ML (IGNORE HEAVY DATA ONLY)
# =========================
ml_testing/data/
ml_testing/artifacts/
ml_testing/logs/
ml_testing/*.zip

# ❌ DO NOT IGNORE trained_models completely
# Keep model files (.h5) but ignore unnecessary files
ml_testing/trained_models/*.keras
ml_testing/trained_models/*.pt
ml_testing/trained_models/*.pth

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db


